a img{
    height: 20px;
}

.vivo{
    background-color: rgba(216, 216, 216, 0.658);
    border: 2px solid rgb(73, 73, 73);
    border-radius: 20px;
}
.vivo:hover{
    font-size: large;
    background-color: rgba(230, 230, 230, 0.658);
    border: 2px solid rgb(73, 73, 73);
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.1s linear;

}